body {
    min-height: 100vh;
    margin: 0;
    display: grid;
}

.dimensions {
    width: 1000px;
    margin: auto;
}

header {
    margin-bottom: 30px;
    margin-top: 10px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

main {
    min-height: 500px;
}

footer {
    margin-top: auto;
    height: 25px;
    text-align: center;
    font-size: 13px;
}

.header-left {
    width: 156px;
    flex: border-box;
}

.header-middle {
    flex: fit-content;
}

.header-right {
    width: 126px;
    flex: border-box;
    height: 35px;
    margin: auto;
    padding: 5px;
    padding-top: 4px;
}

.add-data-img {
    display: inline;
    width: 16px;
    height: 16px;
}

.add-data-div {
    display: inline;
    width: 130px;
    position: relative;
    top: 1px;
}

.status {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.completed {
    background-color: aquamarine;
    color: #244b25;
}

.canceled {
    background-color: #ffcad1;
    color: #4b1d1e;
}

.progress {
    background-color: #c6ddff;
    color: #1a224b;
}

.modal-header {
    margin-top:-30px;
}

.field-label-email {
    font-size: 12px;
    color: gray;
}

.field-label-pass {
    font-size: 12px;
    color: black;
}

.login-modal-container {
    width: 400px;
    margin: auto;
}

.lost-password-middle {
    width: 123px;
}

.lost-password-link {
    color: blue;
    font-size: 13px;
}

.login-button {
    width: 100%;
    margin: auto;
}

.modal-footer {
    font-size: 12px;
    padding-top: 0;
}

.modal-footer-div {
    margin-right: 5px;
}

.modal-footer-link {
    color: blue;
}