.dimensions {
    width: 1000px;
    margin: auto;
}

.page_header {
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
}

.header_left {
    width: 156px;
}

.header_middle {
    flex: fit-content;
}

.header_right {
    width: 126px;
    height: 35px;
    margin: auto;
    padding: 5px;
    padding-top: 4px;
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}

.add_data_img {
    display: inline;
    width: 16px;
    height: 16px;
    position: relative;
    top: -4px;
}

.add_data_div {
    display: inline;
    width: 130px;
    position: relative;
    top: -2px;
}