.dimensions {
    width: 1000px;
    margin: auto;
}

.headers_decor {
    @apply px-6 py-3;
}

.rows_decor {
    @apply px-6 py-4;
}

.delete {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: #ffcad1;
    color: #4b1d1e;
}

.delete:hover {
    background-color: #ff7a87;
    cursor: pointer;
}

.table_header {
    background-color: #e3e3e3;
    border: 1px solid;
}

.content_row {
    background-color: #ffffff;
}

.content_row:hover {
    background-color: #dedede;
}