.page-header {
    height: 70px;
    display: flex;
    flex-direction: row;
    min-width:100%;
}

.header-left {
    width: 156px;
}

.header-middle {
    flex: fit-content;
}

.header-right {
    width: 126px;
    height: 35px;
    margin: auto;
    padding: 5px;
    padding-top: 4px;
}

.add-data-img {
    display: inline;
    width: 16px;
    height: 16px;
}

.add-data-div {
    display: inline;
    width: 130px;
    position: relative;
    top: 1px;
}